<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

  <style>
    form {
      width: 300px;
    }
    .invalid {
      padding: 10px 0;
      color: red;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh; flex-direction: column;">
    <h3 class=""mb-0>Login</h3>
    <form action="/login" method="post" class="form-floating" style="width: 300;">
      <div class="invalid"><%= invalid.credential ? invalid.credential : '' %></div>
      <div class="form-floating mb-2">
        <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="<%= input.email ? input.email : '' %>">
        <label for="email">Email</label>
      </div>
      <div class="form-floating mb-2">
        <input type="password" class="form-control" name="password" id="password" placeholder="Password" <%= input.password ? input.password : '' %>>
        <label for="password">Password</label>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</body>
</html>